capstonePipeline/capstonePipeline.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"CapstoneDatabricksLinkedService":{"type":"string"},"AzureBlobLinkedService":{"type":"string"},"CosmosDbLInkedService":{"type":"string"},"GithubHTTPLinkedService":{"type":"string"},"AzureSqlDatabase1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/capstonePipeline')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"blobToCosmos","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"ParquetSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"ParquetReadSettings"}},"sink":{"type":"CosmosDbSqlApiSink","writeBehavior":"upsert","disableMetricsCollection":false},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"number","type":"String"},"sink":{"path":"$['number']"}},{"source":{"name":"incident_state","type":"String"},"sink":{"path":"$['incident_state']"}},{"source":{"name":"active","type":"String"},"sink":{"path":"$['active']"}},{"source":{"name":"reassignment_count","type":"String"},"sink":{"path":"$['reassignment_count']"}},{"source":{"name":"reopen_count","type":"String"},"sink":{"path":"$['reopen_count']"}},{"source":{"name":"sys_mod_count","type":"String"},"sink":{"path":"$['sys_mod_count']"}},{"source":{"name":"made_sla","type":"String"},"sink":{"path":"$['made_sla']"}},{"source":{"name":"caller_id","type":"String"},"sink":{"path":"$['caller_id']"}},{"source":{"name":"opened_by","type":"String"},"sink":{"path":"$['opened_by']"}},{"source":{"name":"opened_at","type":"String"},"sink":{"path":"$['opened_at']"}},{"source":{"name":"sys_created_by","type":"String"},"sink":{"path":"$['sys_created_by']"}},{"source":{"name":"sys_created_at","type":"String"},"sink":{"path":"$['sys_created_at']"}},{"source":{"name":"sys_updated_by","type":"String"},"sink":{"path":"$['sys_updated_by']"}},{"source":{"name":"sys_updated_at","type":"String"},"sink":{"path":"$['sys_updated_at']"}},{"source":{"name":"contact_type","type":"String"},"sink":{"path":"$['contact_type']"}},{"source":{"name":"location","type":"String"},"sink":{"path":"$['location']"}},{"source":{"name":"category","type":"String"},"sink":{"path":"$['category']"}},{"source":{"name":"subcategory","type":"String"},"sink":{"path":"$['subcategory']"}},{"source":{"name":"u_symptom","type":"String"},"sink":{"path":"$['u_symptom']"}},{"source":{"name":"cmdb_ci","type":"String"},"sink":{"path":"$['cmdb_ci']"}},{"source":{"name":"impact","type":"String"},"sink":{"path":"$['impact']"}},{"source":{"name":"urgency","type":"String"},"sink":{"path":"$['urgency']"}},{"source":{"name":"priority","type":"String"},"sink":{"path":"$['priority']"}},{"source":{"name":"assignment_group","type":"String"},"sink":{"path":"$['assignment_group']"}},{"source":{"name":"assigned_to","type":"String"},"sink":{"path":"$['assigned_to']"}},{"source":{"name":"knowledge","type":"String"},"sink":{"path":"$['knowledge']"}},{"source":{"name":"u_priority_confirmation","type":"String"},"sink":{"path":"$['u_priority_confirmation']"}},{"source":{"name":"notify","type":"String"},"sink":{"path":"$['notify']"}},{"source":{"name":"problem_id","type":"String"},"sink":{"path":"$['problem_id']"}},{"source":{"name":"rfc","type":"String"},"sink":{"path":"$['rfc']"}},{"source":{"name":"vendor","type":"String"},"sink":{"path":"$['vendor']"}},{"source":{"name":"caused_by","type":"String"},"sink":{"path":"$['caused_by']"}},{"source":{"name":"closed_code","type":"String"},"sink":{"path":"$['closed_code']"}},{"source":{"name":"resolved_by","type":"String"},"sink":{"path":"$['resolved_by']"}},{"source":{"name":"resolved_at","type":"String"},"sink":{"path":"$['resolved_at']"}},{"source":{"name":"closed_at","type":"String"},"sink":{"path":"$['closed_at']"}}]}},"inputs":[{"referenceName":"sourceFromBlobParquet","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"CosmosLandingZone","type":"DatasetReference","parameters":{}}]},{"name":"githubToCosmos","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"CosmosDbSqlApiSink","writeBehavior":"upsert","disableMetricsCollection":false},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"number","type":"String"},"sink":{"path":"$['number']"}},{"source":{"name":"incident_state","type":"String"},"sink":{"path":"$['incident_state']"}},{"source":{"name":"active","type":"String"},"sink":{"path":"$['active']"}},{"source":{"name":"reassignment_count","type":"String"},"sink":{"path":"$['reassignment_count']"}},{"source":{"name":"reopen_count","type":"String"},"sink":{"path":"$['reopen_count']"}},{"source":{"name":"sys_mod_count","type":"String"},"sink":{"path":"$['sys_mod_count']"}},{"source":{"name":"made_sla","type":"String"},"sink":{"path":"$['made_sla']"}},{"source":{"name":"caller_id","type":"String"},"sink":{"path":"$['caller_id']"}},{"source":{"name":"opened_by","type":"String"},"sink":{"path":"$['opened_by']"}},{"source":{"name":"opened_at","type":"String"},"sink":{"path":"$['opened_at']"}},{"source":{"name":"sys_created_by","type":"String"},"sink":{"path":"$['sys_created_by']"}},{"source":{"name":"sys_created_at","type":"String"},"sink":{"path":"$['sys_created_at']"}},{"source":{"name":"sys_updated_by","type":"String"},"sink":{"path":"$['sys_updated_by']"}},{"source":{"name":"sys_updated_at","type":"String"},"sink":{"path":"$['sys_updated_at']"}},{"source":{"name":"contact_type","type":"String"},"sink":{"path":"$['contact_type']"}},{"source":{"name":"location","type":"String"},"sink":{"path":"$['location']"}},{"source":{"name":"category","type":"String"},"sink":{"path":"$['category']"}},{"source":{"name":"subcategory","type":"String"},"sink":{"path":"$['subcategory']"}},{"source":{"name":"u_symptom","type":"String"},"sink":{"path":"$['u_symptom']"}},{"source":{"name":"cmdb_ci","type":"String"},"sink":{"path":"$['cmdb_ci']"}},{"source":{"name":"impact","type":"String"},"sink":{"path":"$['impact']"}},{"source":{"name":"urgency","type":"String"},"sink":{"path":"$['urgency']"}},{"source":{"name":"priority","type":"String"},"sink":{"path":"$['priority']"}},{"source":{"name":"assignment_group","type":"String"},"sink":{"path":"$['assignment_group']"}},{"source":{"name":"assigned_to","type":"String"},"sink":{"path":"$['assigned_to']"}},{"source":{"name":"knowledge","type":"String"},"sink":{"path":"$['knowledge']"}},{"source":{"name":"u_priority_confirmation","type":"String"},"sink":{"path":"$['u_priority_confirmation']"}},{"source":{"name":"notify","type":"String"},"sink":{"path":"$['notify']"}},{"source":{"name":"problem_id","type":"String"},"sink":{"path":"$['problem_id']"}},{"source":{"name":"rfc","type":"String"},"sink":{"path":"$['rfc']"}},{"source":{"name":"vendor","type":"String"},"sink":{"path":"$['vendor']"}},{"source":{"name":"caused_by","type":"String"},"sink":{"path":"$['caused_by']"}},{"source":{"name":"closed_code","type":"String"},"sink":{"path":"$['closed_code']"}},{"source":{"name":"resolved_by","type":"String"},"sink":{"path":"$['resolved_by']"}},{"source":{"name":"resolved_at","type":"String"},"sink":{"path":"$['resolved_at']"}},{"source":{"name":"closed_at","type":"String"},"sink":{"path":"$['closed_at']"}}]}},"inputs":[{"referenceName":"sourceFromGIthub","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"CosmosLandingZone","type":"DatasetReference","parameters":{}}]},{"name":"sqlToCosmos","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"CosmosDbSqlApiSink","writeBehavior":"upsert","disableMetricsCollection":false},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"number","type":"String"},"sink":{"path":"$['number']"}},{"source":{"name":"incident_state","type":"String"},"sink":{"path":"$['incident_state']"}},{"source":{"name":"active","type":"String"},"sink":{"path":"$['active']"}},{"source":{"name":"reassignment_count","type":"Int32"},"sink":{"path":"$['reassignment_count']"}},{"source":{"name":"reopen_count","type":"Int32"},"sink":{"path":"$['reopen_count']"}},{"source":{"name":"sys_mod_count","type":"Int32"},"sink":{"path":"$['sys_mod_count']"}},{"source":{"name":"made_sla","type":"String"},"sink":{"path":"$['made_sla']"}},{"source":{"name":"caller_id","type":"String"},"sink":{"path":"$['caller_id']"}},{"source":{"name":"opened_by","type":"String"},"sink":{"path":"$['opened_by']"}},{"source":{"name":"opened_at","type":"String"},"sink":{"path":"$['opened_at']"}},{"source":{"name":"sys_created_by","type":"String"},"sink":{"path":"$['sys_created_by']"}},{"source":{"name":"sys_created_at","type":"String"},"sink":{"path":"$['sys_created_at']"}},{"source":{"name":"sys_updated_by","type":"String"},"sink":{"path":"$['sys_updated_by']"}},{"source":{"name":"sys_updated_at","type":"String"},"sink":{"path":"$['sys_updated_at']"}},{"source":{"name":"contact_type","type":"String"},"sink":{"path":"$['contact_type']"}},{"source":{"name":"location","type":"String"},"sink":{"path":"$['location']"}},{"source":{"name":"category","type":"String"},"sink":{"path":"$['category']"}},{"source":{"name":"subcategory","type":"String"},"sink":{"path":"$['subcategory']"}},{"source":{"name":"u_symptom","type":"String"},"sink":{"path":"$['u_symptom']"}},{"source":{"name":"cmdb_ci","type":"String"},"sink":{"path":"$['cmdb_ci']"}},{"source":{"name":"impact","type":"String"},"sink":{"path":"$['impact']"}},{"source":{"name":"urgency","type":"String"},"sink":{"path":"$['urgency']"}},{"source":{"name":"priority","type":"String"},"sink":{"path":"$['priority']"}},{"source":{"name":"assignment_group","type":"String"},"sink":{"path":"$['assignment_group']"}},{"source":{"name":"assigned_to","type":"String"},"sink":{"path":"$['assigned_to']"}},{"source":{"name":"knowledge","type":"String"},"sink":{"path":"$['knowledge']"}},{"source":{"name":"u_priority_confirmation","type":"String"},"sink":{"path":"$['u_priority_confirmation']"}},{"source":{"name":"notify","type":"String"},"sink":{"path":"$['notify']"}},{"source":{"name":"problem_id","type":"String"},"sink":{"path":"$['problem_id']"}},{"source":{"name":"rfc","type":"String"},"sink":{"path":"$['rfc']"}},{"source":{"name":"vendor","type":"String"},"sink":{"path":"$['vendor']"}},{"source":{"name":"caused_by","type":"String"},"sink":{"path":"$['caused_by']"}},{"source":{"name":"closed_code","type":"String"},"sink":{"path":"$['closed_code']"}},{"source":{"name":"resolved_by","type":"String"},"sink":{"path":"$['resolved_by']"}},{"source":{"name":"resolved_at","type":"String"},"sink":{"path":"$['resolved_at']"}},{"source":{"name":"closed_at","type":"String"},"sink":{"path":"$['closed_at']"}}]}},"inputs":[{"referenceName":"sourceFromSQL","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"CosmosLandingZone","type":"DatasetReference","parameters":{}}]},{"name":"Transformations","type":"DatabricksNotebook","dependsOn":[{"activity":"blobToCosmos","dependencyConditions":["Succeeded"]},{"activity":"githubToCosmos","dependencyConditions":["Succeeded"]},{"activity":"sqlToCosmos","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/vskvj3434@outlook.com/Capstone - Transformations"},"linkedServiceName":{"referenceName":"[parameters('CapstoneDatabricksLinkedService')]","type":"LinkedServiceReference"}},{"name":"Dashboard","type":"DatabricksNotebook","dependsOn":[{"activity":"Transformations","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/vskvj3434@outlook.com/Capstone Visualizations"},"linkedServiceName":{"referenceName":"[parameters('CapstoneDatabricksLinkedService')]","type":"LinkedServiceReference"}}],"policy":{"elapsedTimeMetric":{}},"annotations":[],"lastPublishTime":"2024-10-03T16:36:44Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/sourceFromBlobParquet')]","[concat(variables('factoryId'), '/datasets/CosmosLandingZone')]","[concat(variables('factoryId'), '/datasets/sourceFromGIthub')]","[concat(variables('factoryId'), '/datasets/sourceFromSQL')]"]},{"name":"[concat(parameters('factoryName'), '/sourceFromBlobParquet')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobLinkedService')]","type":"LinkedServiceReference"},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":"data.parquet","container":"audit-data"},"compressionCodec":"snappy"},"schema":[{"name":"number","type":"UTF8"},{"name":"incident_state","type":"UTF8"},{"name":"active","type":"UTF8"},{"name":"reassignment_count","type":"UTF8"},{"name":"reopen_count","type":"UTF8"},{"name":"sys_mod_count","type":"UTF8"},{"name":"made_sla","type":"UTF8"},{"name":"caller_id","type":"UTF8"},{"name":"opened_by","type":"UTF8"},{"name":"opened_at","type":"UTF8"},{"name":"sys_created_by","type":"UTF8"},{"name":"sys_created_at","type":"UTF8"},{"name":"sys_updated_by","type":"UTF8"},{"name":"sys_updated_at","type":"UTF8"},{"name":"contact_type","type":"UTF8"},{"name":"location","type":"UTF8"},{"name":"category","type":"UTF8"},{"name":"subcategory","type":"UTF8"},{"name":"u_symptom","type":"UTF8"},{"name":"cmdb_ci","type":"UTF8"},{"name":"impact","type":"UTF8"},{"name":"urgency","type":"UTF8"},{"name":"priority","type":"UTF8"},{"name":"assignment_group","type":"UTF8"},{"name":"assigned_to","type":"UTF8"},{"name":"knowledge","type":"UTF8"},{"name":"u_priority_confirmation","type":"UTF8"},{"name":"notify","type":"UTF8"},{"name":"problem_id","type":"UTF8"},{"name":"rfc","type":"UTF8"},{"name":"vendor","type":"UTF8"},{"name":"caused_by","type":"UTF8"},{"name":"closed_code","type":"UTF8"},{"name":"resolved_by","type":"UTF8"},{"name":"resolved_at","type":"UTF8"},{"name":"closed_at","type":"UTF8"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/CosmosLandingZone')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('CosmosDbLInkedService')]","type":"LinkedServiceReference"},"annotations":[],"type":"CosmosDbSqlApiCollection","schema":{},"typeProperties":{"collectionName":"auditcapstone"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/sourceFromGIthub')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('GithubHTTPLinkedService')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":"/vskvj3/UST_Training/refs/heads/main/capstone/datasets/data_3__low.csv"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"number","type":"String"},{"name":"incident_state","type":"String"},{"name":"active","type":"String"},{"name":"reassignment_count","type":"String"},{"name":"reopen_count","type":"String"},{"name":"sys_mod_count","type":"String"},{"name":"made_sla","type":"String"},{"name":"caller_id","type":"String"},{"name":"opened_by","type":"String"},{"name":"opened_at","type":"String"},{"name":"sys_created_by","type":"String"},{"name":"sys_created_at","type":"String"},{"name":"sys_updated_by","type":"String"},{"name":"sys_updated_at","type":"String"},{"name":"contact_type","type":"String"},{"name":"location","type":"String"},{"name":"category","type":"String"},{"name":"subcategory","type":"String"},{"name":"u_symptom","type":"String"},{"name":"cmdb_ci","type":"String"},{"name":"impact","type":"String"},{"name":"urgency","type":"String"},{"name":"priority","type":"String"},{"name":"assignment_group","type":"String"},{"name":"assigned_to","type":"String"},{"name":"knowledge","type":"String"},{"name":"u_priority_confirmation","type":"String"},{"name":"notify","type":"String"},{"name":"problem_id","type":"String"},{"name":"rfc","type":"String"},{"name":"vendor","type":"String"},{"name":"caused_by","type":"String"},{"name":"closed_code","type":"String"},{"name":"resolved_by","type":"String"},{"name":"resolved_at","type":"String"},{"name":"closed_at","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/sourceFromSQL')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureSqlDatabase1')]","type":"LinkedServiceReference"},"annotations":[],"type":"AzureSqlTable","schema":[{"name":"Number","type":"nvarchar"},{"name":"IncidentState","type":"nvarchar"},{"name":"Active","type":"bit"},{"name":"ReassignmentCount","type":"int","precision":10},{"name":"ReopenCount","type":"int","precision":10},{"name":"SysModCount","type":"int","precision":10},{"name":"MadeSLA","type":"bit"},{"name":"CallerID","type":"nvarchar"},{"name":"OpenedBy","type":"nvarchar"},{"name":"OpenedAt","type":"nvarchar"},{"name":"SysCreatedBy","type":"nvarchar"},{"name":"SysCreatedAt","type":"nvarchar"},{"name":"SysUpdatedBy","type":"nvarchar"},{"name":"SysUpdatedAt","type":"nvarchar"},{"name":"ContactType","type":"nvarchar"},{"name":"Location","type":"nvarchar"},{"name":"Category","type":"nvarchar"},{"name":"Subcategory","type":"nvarchar"},{"name":"USymptom","type":"nvarchar"},{"name":"CMDB_CI","type":"nvarchar"},{"name":"Impact","type":"nvarchar"},{"name":"Urgency","type":"nvarchar"},{"name":"Priority","type":"nvarchar"},{"name":"AssignmentGroup","type":"nvarchar"},{"name":"AssignedTo","type":"nvarchar"},{"name":"Knowledge","type":"bit"},{"name":"UPriorityConfirmation","type":"bit"},{"name":"Notify","type":"nvarchar"},{"name":"ProblemID","type":"nvarchar"},{"name":"RFC","type":"nvarchar"},{"name":"Vendor","type":"nvarchar"},{"name":"CausedBy","type":"nvarchar"},{"name":"ClosedCode","type":"nvarchar"},{"name":"ResolvedBy","type":"nvarchar"},{"name":"ResolvedAt","type":"nvarchar"},{"name":"ClosedAt","type":"nvarchar"}],"typeProperties":{"schema":"dbo","table":"IncidentReports"}},"dependsOn":[]}]}